/****** Script for SelectTopNRows command from SSMS  ******/
SELECT PALMID, CODCLIE, COUNT(CODCLIE)'COUNT1' FROM PalmComSync..OUT_CLIENTES
WHERE PALMID LIKE 'GEA%'
GROUP BY PALMID, CODCLIE
HAVING  COUNT(CODCLIE)>1
ORDER BY COUNT1 desc



SELECT * FROM PalmComSync..OUT_CLIENTES
WHERE PALMID='GEA005'
ORDER BY  CODCLIE

SELECT * FROM PalmComSync..OUT_CONFIG
WHERE PALMID='GEA085'




SELECT * FROM PalmComSync..GP_RUTA
WHERE IdVendedor IN (SELECT IDVENDEDOR FROM PalmComSync..OUT_CONFIG
WHERE PALMID='GEA005')


SELECT * FROM PalmComSync..GP_CLIENTEDIASRUTA
WHERE NombreRuta='BA100-01' AND CodRuta<>'275'

SELECT * FROM PalmComSync..GP_RUTA
WHERE NombreRuta='BA100-01'


SELECT * FROM PalmComSync..GP_RUTA
WHERE CodRuta=226

/*
  
 
 
 
 
 
 
 
GEA085
GEA093


*/