USE [GPHN]
GO
/****** Object:  StoredProcedure [dbo].[CANTIDAD_PT100_VENDIDO]    Script Date: 05/01/2017 07:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[CANTIDAD_PT100_VENDIDO]
@CLIENTE VARCHAR(50)
as
DECLARE @FECHAINICIOS DATETIME
DECLARE @FECHAFINALS DATETIME
IF(DATEPART(month, GETDATE()) IN ('1','2','3','4')) 
--2017-04-30 23:59:54.440
BEGIN 
IF (DATEPART(month, GETDATE()) IN ('1'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-01'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-01'+'-31'+' 23:59:54.440'))) 
END
IF (DATEPART(month, GETDATE()) IN ('2'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-02'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-02'+'-28'+' 23:59:54.440'))) 
END

IF (DATEPART(month, GETDATE()) IN ('3'))
BEGIN
SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-03'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-03'+'-31'+' 23:59:54.440'))) 
END
IF (DATEPART(month, GETDATE()) IN ('4'))
BEGIN
SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-04'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-04'+'-30'+' 23:59:54.440'))) 
END

-----------------------------------PASO AL SIGUIENTE CUATRIMESTRE--------------------------------------
END 
IF (DATEPART(month, GETDATE()) IN ('5','6','7','8')) 
BEGIN 

IF (DATEPART(month, GETDATE()) IN ('5'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-05'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-05'+'-31'+' 23:59:54.440'))) 
END



IF (DATEPART(month, GETDATE()) IN ('6'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-06'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-06'+'-30'+' 23:59:54.440'))) 
END

IF (DATEPART(month, GETDATE()) IN ('7'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-07'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-07'+'-31'+' 23:59:54.440'))) 
END

IF (DATEPART(month, GETDATE()) IN ('8'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-08'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-08'+'-31'+' 23:59:54.440'))) 
END



END
 IF (DATEPART(month, GETDATE()) IN ('9','10','11','12')) 

BEGIN 



IF (DATEPART(month, GETDATE()) IN ('9'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-09'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-09'+'-30'+' 23:59:54.440'))) 
END

IF (DATEPART(month, GETDATE()) IN ('10'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-10'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-10'+'-31'+' 23:59:54.440'))) 
END

IF (DATEPART(month, GETDATE()) IN ('11'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-11'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-11'+'-30'+' 00:00:00'))) 
END

IF (DATEPART(month, GETDATE()) IN ('12'))
BEGIN

SET @FECHAINICIOS=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-12'+'-01'+' 00:00:00')))) 
SET @FECHAFINALS=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-12'+'-31'+' 23:59:54.440'))) 
END



END 



SELECT CODIGO_CLIENTE,SUM(CANTIDAD_DE_ARTICULOS)as SUMA FROM dbo.CANTIDADES_LIMITE_PROMOCION WHERE CODIGO_CLIENTE=@CLIENTE AND FECHA between @FECHAINICIOS and @FECHAFINALS group by  CODIGO_CLIENTE
  
--SELECT [Número de cliente],SUM([CANT.]) as SUMA FROM GPHN..SalesLineItems WHERE [Número de artículo]='PT100'
--  and [Fecha de creación de transacciones de ventas]
--  between @FECHAINICIOS and @FECHAFINALS
--and [Tipo de Ventas]='Factura' and [Número de cliente]=@CLIENTE group by [Número de cliente]








