SELECT VENDORID,'FACTURA',DOCDATE,DOCNUMBR,DOCAMNT FROM PM30200
WHERE DOCTYPE=1 AND DOCDATE BETWEEN '20130101' AND '20131231' AND VENDORID<'99901'

SELECT * FROM PM20000

select PM10000.VCHRNMBR,PM10000.VENDORID,PM10000.DOCTYPE,PM10000.DOCDATE,DOCNUMBR, case when (1 = 1 or 1= 2 and PM10000.CURNCYID = 'DOP') then DOCAMNT  when 1 = 2 then ISNULL(MC020103.ORDOCAMT,0.00)   when 1 = 3 then case 1 when 1 then round(DOCAMNT * 33.0000000,5) else round(DOCAMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10000.CURNCYID = 'DOP') then CURTRXAM  when 1 = 2 then ISNULL(MC020103.ORCTRXAM,0.00)   when 1 = 3 then case 1when 1 then round(CURTRXAM * 33.0000000,5) else round(CURTRXAM / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10000.CURNCYID = 'DOP') then DISTKNAM  when 1 = 2 then ISNULL(MC020103.ORDISTKN,0.00)   when 1 = 3 then case 1 when 1 then round(DISTKNAM * 33.0000000,5) else round(DISTKNAM / 33.0000000,5) end end, PM10000.BACHNUMB,'',PM10000.BCHSOURC,DISCDATE,DUEDATE,PORDNMBR, case when (1 = 1 or 1= 2 and PM10000.CURNCYID = 'DOP') then TEN99AMNT  when 1 = 2 then ISNULL(MC020103.OR1099AM,0.00)   when 1 = 3 then case 1 when 1 then round(TEN99AMNT * 33.0000000,5) else round(TEN99AMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10000.CURNCYID = 'DOP') then WROFAMNT  when 1 = 2 then ISNULL(MC020103.ORWROFAM,0.00)   when 1 = 3 then case 1 when 1 then round(WROFAMNT * 33.0000000,5) else round(WROFAMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10000.CURNCYID = 'DOP') then DISAMTAV  when 1 = 2 then ISNULL(MC020103.ODISAMTAV,0.00)   when 1 = 3 then case 1 when 1 then round(DISAMTAV * 33.0000000,5) else round(DISAMTAV / 33.0000000,5) end end, TRXDSCRN,UN1099AM,RETNAGAM,0,0,PM10000.CHEKBKID,'1900/01/01',PPSAMDED,PPSTAXRT,GSTDSAMT,POSTEDDT,PTDUSRID,PM10000.MODIFDT,MDFUSRID,1,  case when (1 = 1 or 1= 2 and PM10000.CURNCYID = 'DOP') then BKTPURAM  when 1 = 2 then ISNULL(MC020103.OBKPURAMT,0.00)    when 1 = 3 then case 1 when 1 then round(BKTPURAM * 33.0000000,5) else round(BKTPURAM / 33.0000000,5) end end, PM10000.CURNCYID,  case when (1 = 1 or 1= 2 and PM10000.CURNCYID = 'DOP') then 1008  when 1 = 2 then ISNULL(MC020103.CURRNIDX,0)   when 1 = 3 then 1009 end, ICTRX,0,0,DOCAMNT,CURTRXAM,BackoutTradeDisc from PM10000 with (NOLOCK) LEFT OUTER JOIN MC020103 with (NOLOCK) on (PM10000.DOCTYPE = MC020103.DOCTYPE and PM10000.VCHRNMBR = MC020103.VCHRNMBR),SY00500 with (NOLOCK) where PM10000.VENDORID = '0002'and PM10000.DOCNUMBR >= '' and PM10000.DOCNUMBR <= 'ÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞ' and PM10000.BCHSOURC = 'PM_Trxent' and PM10000.PSTGSTUS <> 10 and PM10000.BACHNUMB = SY00500.BACHNUMB and PM10000.BCHSOURC = SY00500.BCHSOURC and ((SY00500.BACHFREQ = 1 and PM10000.POSTED = 0) or (SY00500.BACHFREQ > 1) ) insert into ##2411420 select PM10300.VCHRNMBR,PM10300.VENDORID,PM10300.DOCTYPE,PM10300.DOCDATE,DOCNUMBR, case when (1 = 1 or 1= 2 and PM10300.CURNCYID = 'DOP') then CHEKTOTL  when 1 = 2 then ISNULL(MC020103.ORDOCAMT,0.00)   when 1 = 3 then case 1 when 1 then round(CHEKTOTL * 33.0000000,5) else round(CHEKTOTL / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10300.CURNCYID = 'DOP') then CURTRXAM  when 1 = 2 then ISNULL(MC020103.ORCTRXAM,0.00)   when 1 = 3  then case 1 when 1 then round(CURTRXAM * 33.0000000,5) else round(CURTRXAM / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10300.CURNCYID = 'DOP') then DISTKNAM  when 1 = 2 then ISNULL(MC020103.ORDISTKN,0.00)   when 1 = 3 then case 1 when 1 then round(DISTKNAM * 33.0000000,5) else round(DISTKNAM / 33.0000000,5) end end, BACHNUMB,'',BCHSOURC,'1900/01/01','1900/01/01','',0.00,  case when (1 = 1 or 1= 2 and PM10300.CURNCYID = 'DOP') then WROFAMNT  when 1 = 2 then ISNULL(MC020103.ORWROFAM,0.00)   when 1 = 3 then case 1 when 1 then round(WROFAMNT * 33.0000000,5) else round(WROFAMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10300.CURNCYID = 'DOP') then DISAMTAV  when 1 = 2 then ISNULL(MC020103.ODISAMTAV,0.00)   when 1 = 3 then case 1 when 1 then round(DISAMTAV * 33.0000000,5) else round(DISAMTAV / 33.0000000,5) end end, '',0.00,0.00,0,0,PM10300.CHEKBKID,'1900/01/01',PPSAMDED,PPSTAXRT,GSTDSAMT,POSTEDDT,PTDUSRID,MODIFDT,MDFUSRID,1,0.00,PM10300.CURNCYID,  case when (1 = 1 or 1= 2 and PM10300.CURNCYID = 'DOP') then 1008  when 1 = 2 then ISNULL(MC020103.CURRNIDX,0)   when 1 = 3 then 1009 end,  0,0,0,CHEKTOTL,CURTRXAM,0 from PM10300 with (NOLOCK) LEFT OUTER JOIN MC020103 with (NOLOCK) on (PM10300.DOCTYPE = MC020103.DOCTYPE and PM10300.PMNTNMBR = MC020103.VCHRNMBR)  where PM10300.VENDORID = '0002' and PM10300.DOCNUMBR >= '' and PM10300.DOCNUMBR <= 'ÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞ' and PM10300.PSTGSTUS <> 10 and PM10300.BCHSOURC = 'XPM_Cchecks' and PM10300.POSTEDDT = '1900/01/01' insert into ##2411420 select PM10400.VCHRNMBR,PM10400.VENDORID,PM10400.DOCTYPE,PM10400.DOCDATE,DOCNUMBR, case when (1 = 1 or 1= 2 and PM10400.CURNCYID = 'DOP') then DOCAMNT  when 1 = 2 then ISNULL(MC020103.ORDOCAMT,0.00)   when 1 = 3 then case 1 when 1 then round(DOCAMNT * 33.0000000,5) else  round(DOCAMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10400.CURNCYID = 'DOP') then CURTRXAM  when 1 = 2 then ISNULL(MC020103.ORCTRXAM,0.00)   when 1 = 3 then case 1 when 1 then round(CURTRXAM * 33.0000000,5) else round(CURTRXAM / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10400.CURNCYID = 'DOP') then DISTKNAM  when 1 = 2 then ISNULL(MC020103.ORDISTKN,0.00)   when 1 = 3 then case 1 when 1 then round(DISTKNAM * 33.0000000,5) else round(DISTKNAM / 33.0000000,5) end end, BACHNUMB,'',BCHSOURC,'1900/01/01','1900/01/01','',0.00,  case when (1 = 1 or 1= 2 and PM10400.CURNCYID = 'DOP') then WROFAMNT  when 1 = 2 then ISNULL(MC020103.ORWROFAM,0.00)   when 1 = 3 then case 1 when 1 then round(WROFAMNT * 33.0000000,5) else round(WROFAMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM10400.CURNCYID = 'DOP') then DISAMTAV  when 1 = 2 then ISNULL(MC020103.ODISAMTAV,0.00)   when 1 = 3 then case 1 when 1 then round(DISAMTAV * 33.0000000,5) else round(DISAMTAV / 33.0000000,5) end end, '',0.00,0.00,0,0,CHEKBKID,'1900/01/01',PPSAMDED,PPSTAXRT,GSTDSAMT,POSTEDDT,PTDUSRID,MODIFDT,MDFUSRID,1,0.00,PM10400.CURNCYID,  case when (1 = 1 or 1= 2 and PM10400.CURNCYID = 'DOP') then 1008  when 1 = 2 then ISNULL(MC020103.CURRNIDX,0)   when 1 = 3 then 1009 end,  0,0,0,DOCAMNT,CURTRXAM,0 from PM10400 with (NOLOCK) LEFT OUTER JOIN MC020103 with (NOLOCK) on (PM10400.DOCTYPE = MC020103.DOCTYPE and PM10400.VCHRNMBR = MC020103.VCHRNMBR) where PM10400.VENDORID =  '0002' and PM10400.DOCNUMBR >= '' and PM10400.DOCNUMBR <= 'ÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞ' and PM10400.BCHSOURC = 'PM_Payment' and PM10400.POSTEDDT = '1900/01/01' insert into ##2411420 select PM20000.VCHRNMBR,PM20000.VENDORID,PM20000.DOCTYPE,PM20000.DOCDATE,DOCNUMBR, case when (1 = 1 or 1= 2 and PM20000.CURNCYID = 'DOP') then DOCAMNT  when 1 = 2 then ISNULL(MC020103.ORDOCAMT,0.00)   when 1 = 3 then case 1 when 1 then round(DOCAMNT * 33.0000000,5) else round(DOCAMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM20000.CURNCYID = 'DOP') then CURTRXAM  when 1 = 2 then ISNULL(MC020103.ORCTRXAM,0.00)   when 1 = 3 then case 1 when 1 then round(CURTRXAM * 33.0000000,5) else round(CURTRXAM / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM20000.CURNCYID = 'DOP') then DISTKNAM  when 1 = 2 then ISNULL(MC020103.ORDISTKN,0.00)   when 1 = 3 then case 1 when 1 then round(DISTKNAM * 33.0000000,5) else round(DISTKNAM / 33.0000000,5) end end, BACHNUMB,TRXSORCE,BCHSOURC,DISCDATE,DUEDATE,PORDNMBR,  case when (1 = 1 or 1= 2 and PM20000.CURNCYID = 'DOP') then TEN99AMNT  when 1 = 2 then ISNULL(MC020103.OR1099AM,0.00)   when 1 = 3 then case 1 when 1 then round(TEN99AMNT * 33.0000000,5) else round(TEN99AMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM20000.CURNCYID = 'DOP') then WROFAMNT  when 1 = 2 then ISNULL(MC020103.ORWROFAM,0.00)   when 1 = 3 then case 1 when 1 then round(WROFAMNT * 33.0000000,5) else round(WROFAMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM20000.CURNCYID = 'DOP') then DISAMTAV  when 1 = 2 then ISNULL(MC020103.ODISAMTAV,0.00)   when 1 = 3 then case 1 when 1 then round(DISAMTAV * 33.0000000,5) else round(DISAMTAV / 33.0000000,5) end end, TRXDSCRN,UN1099AM,RETNAGAM,VOIDED,HOLD,CHEKBKID,'1900/01/01',PPSAMDED,PPSTAXRT,GSTDSAMT,POSTEDDT,PTDUSRID,MODIFDT,MDFUSRID,2,  case when (1 = 1 or 1= 2 and PM20000.CURNCYID = 'DOP') then BKTPURAM  when 1 = 2 then ISNULL(MC020103.OBKPURAMT,0.00)    when 1 = 3 then case 1 when 1 then round(BKTPURAM * 33.0000000,5) else round(BKTPURAM / 33.0000000,5) end end,  PM20000.CURNCYID,  case when (1 = 1 or 1= 2 and PM20000.CURNCYID = 'DOP') then 1008  when 1 = 2 then ISNULL(MC020103.CURRNIDX,0)   when 1 = 3 then 1009 end,  ICTRX,0,0,DOCAMNT,CURTRXAM,BackoutTradeDisc from PM20000 with (NOLOCK) LEFT OUTER JOIN MC020103 with (NOLOCK) on  (PM20000.DOCTYPE = MC020103.DOCTYPE and PM20000.VCHRNMBR = MC020103.VCHRNMBR) where PM20000.VENDORID = '0002' and PM20000.DOCNUMBR >= '' and PM20000.DOCNUMBR <= 'ÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞ' insert into ##2411420 select PM30200.VCHRNMBR,PM30200.VENDORID,PM30200.DOCTYPE,PM30200.DOCDATE,DOCNUMBR, case when (1 = 1 or 1= 2 and PM30200.CURNCYID = 'DOP') then DOCAMNT  when 1 = 2 then ISNULL(MC020103.ORDOCAMT,0.00)   when 1 = 3 then case 1 when 1 then round(DOCAMNT * 33.0000000,5) else round(DOCAMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM30200.CURNCYID = 'DOP') then CURTRXAM  when 1 = 2 then ISNULL(MC020103.ORCTRXAM,0.00)   when 1 = 3 then case 1 when 1 then round(CURTRXAM * 33.0000000,5) else round(CURTRXAM / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM30200.CURNCYID = 'DOP') then DISTKNAM  when 1 = 2 then ISNULL(MC020103.ORDISTKN,0.00)   when 1 = 3 then case 1 when 1 then round(DISTKNAM * 33.0000000,5) else round(DISTKNAM / 33.0000000,5) end end, BACHNUMB,TRXSORCE,BCHSOURC,DISCDATE,DUEDATE,PORDNMBR,  case when (1 = 1 or 1= 2 and PM30200.CURNCYID = 'DOP') then TEN99AMNT  when 1 = 2 then ISNULL(MC020103.OR1099AM,0.00)   when 1 = 3 then case 1 when 1 then round(TEN99AMNT * 33.0000000,5) else round(TEN99AMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM30200.CURNCYID = 'DOP') then WROFAMNT  when 1 = 2 then ISNULL(MC020103.ORWROFAM,0.00)   when 1 = 3 then case 1 when 1 then round(WROFAMNT * 33.0000000,5) else round(WROFAMNT / 33.0000000,5) end end,  case when (1 = 1 or 1= 2 and PM30200.CURNCYID = 'DOP') then DISAMTAV  when 1 = 2 then ISNULL(MC020103.ODISAMTAV,0.00)   when 1 = 3 then case 1 when 1 then round(DISAMTAV * 33.0000000,5) else round(DISAMTAV / 33.0000000,5) end end, TRXDSCRN,UN1099AM,RETNAGAM,VOIDED,HOLD,CHEKBKID,DINVPDOF,PPSAMDED,PPSTAXRT,GSTDSAMT,POSTEDDT,PTDUSRID,MODIFDT,MDFUSRID,3,  case when (1 = 1 or 1= 2 and PM30200.CURNCYID = 'DOP') then BKTPURAM  when 1 = 2 then ISNULL(MC020103.OBKPURAMT,0.00)    when 1 = 3 then case 1 when 1 then round(BKTPURAM * 33.0000000,5) else round(BKTPURAM / 33.0000000,5) end end, PM30200.CURNCYID,  case when (1 = 1 or 1= 2 and PM30200.CURNCYID = 'DOP') then 1008  when 1 = 2 then ISNULL(MC020103.CURRNIDX,0)   when 1 = 3 then 1009 end,  ICTRX,0,0,DOCAMNT,CURTRXAM,BackoutTradeDisc from PM30200 with (NOLOCK) LEFT OUTER JOIN MC020103 with (NOLOCK) on  (PM30200.DOCTYPE = MC020103.DOCTYPE and PM30200.VCHRNMBR = MC020103.VCHRNMBR) where PM30200.VENDORID = '0002' and PM30200.DOCNUMBR >= '' and PM30200.DOCNUMBR <= 'ÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞÞ'

SELECT 'A010010020100132292'


