/****** Script for SelectTopNRows command from SSMS  ******/

CREATE procedure [CANTIDAD PT100 VENDIDOS] 
@CLIENTE VARCHAR(50)
as
DECLARE @FECHAINICIO DATETIME
DECLARE @FECHAFINAL DATETIME
IF(DATEPART(month, GETDATE()) IN ('1','2','3','4')) 

BEGIN 
IF (DATEPART(month, GETDATE()) IN ('1'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-01'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-01'+'-31'+' 00:00:00'))) 
END
IF (DATEPART(month, GETDATE()) IN ('2'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-02'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-02'+'-28'+' 00:00:00'))) 
END

IF (DATEPART(month, GETDATE()) IN ('3'))
BEGIN
SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-03'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-03'+'-31'+' 00:00:00'))) 
END
IF (DATEPART(month, GETDATE()) IN ('4'))
BEGIN
SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-04'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-04'+'-30'+' 00:00:00'))) 
END

-----------------------------------PASO AL SIGUIENTE CUATRIMESTRE--------------------------------------
END 
IF (DATEPART(month, GETDATE()) IN ('5','6','7','8')) 
BEGIN 

IF (DATEPART(month, GETDATE()) IN ('5'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-05'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-05'+'-31'+' 00:00:00'))) 
END



IF (DATEPART(month, GETDATE()) IN ('6'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-06'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-06'+'-30'+' 00:00:00'))) 
END

IF (DATEPART(month, GETDATE()) IN ('7'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-07'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-07'+'-31'+' 00:00:00'))) 
END

IF (DATEPART(month, GETDATE()) IN ('8'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-08'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-08'+'-31'+' 00:00:00'))) 
END



END
 IF (DATEPART(month, GETDATE()) IN ('9','10','11','12')) 

BEGIN 



IF (DATEPART(month, GETDATE()) IN ('9'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-09'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-09'+'-30'+' 00:00:00'))) 
END

IF (DATEPART(month, GETDATE()) IN ('10'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-10'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-10'+'-31'+' 00:00:00'))) 
END

IF (DATEPART(month, GETDATE()) IN ('11'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-11'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-11'+'-30'+' 00:00:00'))) 
END

IF (DATEPART(month, GETDATE()) IN ('12'))
BEGIN

SET @FECHAINICIO=  CONVERT(datetime,LTRIM(RTRIM( (STR(DATEPART(YYYY, GETDATE()))+'-12'+'-01'+' 00:00:00')))) 
SET @FECHAFINAL=  CONVERT(datetime,LTRIM(RTRIM (STR(DATEPART(YYYY, GETDATE()))+'-12'+'-31'+' 00:00:00'))) 
END



END 



  
SELECT SUM([CANT.]) FROM GPHN..SalesLineItems WHERE [Número de artículo]='PT100'
  and [Fecha de creación de transacciones de ventas]
  between @FECHAINICIO and @FECHAFINAL
and [Tipo de Ventas]='Factura' and [Número de cliente]=@CLIENTE


